@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

body {
  min-height: 100vh;
  width: 100%;
  /* Remove width: 100vw; if you had it */
}

:root {
  font-family: "Noto Sans Devanagari", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #22292f;
  background-color: #f9f8f7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
