body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.image-container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 80vw;
  background-color: aqua;
}
.form-container {
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
}

