/* Transition for sidebar */
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.slide-in {
  animation: slide-in 0.3s forwards;
}
.slide-out {
  animation: slide-out 0.3s forwards;
}

/* Fade effect for sign out modal */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: fade-in 0.5s forwards;
}
.fade-out {
  animation: fade-out 0.5s forwards;
}

.fade-in-1s {
  animation: fade-in 1s forwards;
}
.fade-out-1s {
  animation: fade-out 1s forwards;
}
